DATARUN_API_IMAGE=kaswarah/datarunapi:<version>-<commit>
DATARUN_STAGING_BIND_ADDRESS=127.0.0.1
DATARUN_STAGING_PORT=18080
STAGING_DATABASE_NETWORK=drunlocaldbs_default
STAGING_DATABASE_URL=jdbc:postgresql://postgresql:5432/datarun_prod_clone_20260725
STAGING_DATABASE_USERNAME=
STAGING_DATABASE_PASSWORD=
DATARUN_JWT_BASE64_SECRET=
