DATARUN_API_IMAGE=kaswarah/datarunapi:<version>-<commit>
DATARUN_STAGING_BIND_ADDRESS=0.0.0.0
DATARUN_STAGING_PORT=8080
STAGING_DATABASE_URL=jdbc:postgresql://192.168.1.221:5432/datarun_staging?sslmode=require
STAGING_DATABASE_USERNAME=
STAGING_DATABASE_PASSWORD=
DATARUN_JWT_BASE64_SECRET=
